spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/recycle-metrics-test
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: create-drop
    show_sql: false
